{{extend ("./parent.html")}}

{{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="#">数据修改</a></li>
        </ol>
    </div>
    <div class="panel-body">
        <form action="/manager/add/{{Info.dataName}}" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label for="vtitle" class="col-sm-2 control-label">id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="id" value="{{Info.id}}" id="id" readonly='true'>
                </div>
            </div>
            <div class="form-group">
                <label for="vsortno" class="col-sm-2 control-label">演讲人</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="teachers" value="{{Info.teachers}}" id="teachers" placeholder="请输入年龄">
                </div>
            </div>
            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">所在学校/公司</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="school" value="{{Info.school}}" id="school" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">演讲题目</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="speechTitle" value="{{Info.speechTitle}}" id="speechTitle" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">演讲地点</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="place" value="{{Info.place}}" id="place" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">参加人数</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="people" value="{{Info.people}}" id="people" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">举办单位</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sponsor" value="{{Info.sponsor}}" id="sponsor" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">演讲内容</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="content" value="{{Info.content}}" id="content" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">小图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="small_img_src" id="small_img_src" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">大图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="big_img_src" id="big_img_src" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">活动开始时间</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" name="start_time" value="{{Info.start_time}}" id="start_time" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">活动结束时间</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" name="end_time" value="{{Info.end_time}}" id="end_time" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">经度</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="longitude" value="{{Info.longitude}}" id="longitude" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">纬度</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="latitude" value="{{Info.latitude}}" id="latitude" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{/block}}
