{{extend ("./parent.html")}}

{{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li>活动轮播数据列表</li>
        </ol>
    </div>
    <div class="panel-heading">
        <div class="input-group">
             {{#each(list)}}
            <input type="button" class="btn btn-success" value="新增" onclick="window.location='/manager/add?activity_lunbo&{{this.query}}'">
            {{/each}}
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>轮播图片</th>
                <th>轮播图片跳转地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each(list)}}
            <tr>
                <td>{{this.id}}</td>
                <td><img src="{{this.activity_img_src}}" alt=""></td>
                <td>{{this.activity_img_target}}</td>
                <td>
                    <a href="/manager/edit/{{this.dataName}}?dataName={{this.dataName}}&id={{this.id}}" class ="btn btn-success" >编辑</a> |

                    <input type="button" class ="btn btn-danger" onclick="del('{{this.id}}','lunbo','activity_status')" value="删除">
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $('.input-group input').each(function (i,v) {

        if (i!==0) {
            $(this).remove()
        }
    });

    function del(id,dataName,status) {
        if (!confirm("确定要删除该条数据吗?")) {
            return;
        }
        var url = 'http://'+location.host+'/manager/delete?dataName='+dataName+'&id='+id+'&status='+status;
        $.getJSON(url,null,function(jsObj){
            if (jsObj.status==0) {//失败
                alert(jsObj.message)
            }else{ //成功
                //alert(jsObj.message)
                window.location = window.location
            }
        })
    }
</script>
{{/block}}
