{{extend ("./parent.html")}}

{{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li>活动数据列表</li>
        </ol>
    </div>
    <div class="panel-heading">
        <div class="input-group">
            {{#each(list)}}
            <input type="button" class="btn btn-success" value="新增" onclick="window.location='/manager/add?activity&{{this.query}}'">
            {{/each}}
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered" style='width: 718px!important;'>
            <thead>
            <tr>
                <th>id</th>
                <th>演讲人</th>
                <th>所在学校/公司</th>
                <th>演讲题目</th>
                <th>演讲地点</th>
                <th>参加人数</th>
                <th>举办单位</th>
                <th>演讲内容</th>
                <th>小图片链接</th>
                <th>大图片链接</th>
                <th>活动开始时间</th>
                <th>活动结束时间</th>
                <th>经度</th>
                <th>纬度</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each(list)}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.teachers}}</td>
                <td>{{this.school}}</td>
                <td>{{this.speechTitle}}</td>
                <td>{{this.place}}</td>
                <td>{{this.people}}</td>
                <td>{{this.sponsor}}</td>
                <td>{{this.content}}</td>
                <td><img src="{{this.small_img_src}}" alt=""></td>
                <td><img src="{{this.big_img_src}}" alt=""></td>
                <td>{{this.start_time}}</td>
                <td>{{this.end_time}}</td>
                <td>{{this.longitude}}</td>
                <td>{{this.latitude}}</td>
                <td>
                    <a href="/manager/edit/{{this.dataName}}?dataName={{this.dataName}}&id={{this.id}}" class ="btn btn-success" >编辑</a> |

                    <input type="button" class ="btn btn-danger" onclick="del('{{this.id}}','activity')" value="删除">
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $('.input-group input').each(function (i,v) {

        if (i!==0) {
            $(this).remove()
        }
    });

    function del(id,dataName) {
        if (!confirm("确定要删除该条数据吗?")) {
            return;
        }
        var url = 'http://'+location.host+'/manager/delete?dataName='+dataName+'&id='+id;
        $.getJSON(url,null,function(jsObj){
            if (jsObj.status==0) {//失败
                alert(jsObj.message)
            }else{ //成功
                //alert(jsObj.message)
                window.location = window.location
            }
        })
    }
</script>
{{/block}}
