{{extend ("./parent.html")}}

{{#block ("body")}}
  <div class="panel panel-default">
        <div class="panel-heading">
            <ol class="breadcrumb">
              <li><a href="#">新增数据</a></li>
            </ol>
          </div>
        <div class="panel-body">   
    <form action="/manager/add/{{list[0][2]}}" method="post" class="form-horizontal" id='id-form' enctype="multipart/form-data">
        <div class="form-group">
            <label for="vtitle" class="col-sm-2 control-label">id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="id" id="id"  >
            </div>
        </div>
        {{#each (list) }}
    <div class="form-group">
      <label for="vtitle" class="col-sm-2 control-label">{{ list[xindex][1] }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="{{ list[xindex][0] }}" id="{{ list[xindex][0] }}" placeholder="请输入{{ list[xindex][1] }}">
      </div>
    </div>
        {{/each}}

    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <!--<button type="submit" class="btn btn-default" id='sub-btn'>保存</button>-->
        <button type="submit" class="btn btn-default" id='sub-btn'>保存</button>
      </div>
    </div>
  </form>
  </div> 
  </div>
{{/block}}

<script>



    //对代码片段处理
    $('<textarea cols="60" rows="10"></textarea>').insertBefore('#index_expert_html,#news_html,#expert_html').each(function () {
        if ($(this).next().get(0).id=='news_html')  this.name='news_html'; this.id='news_html'
        if ($(this).next().get(0).id=='index_expert_html')  this.name='index_expert_html';this.id='index_expert_html'
        if ($(this).next().get(0).id=='expert_html')  this.name='expert_html';this.id='expert_html'
        $('#id').parent().parent().remove();
        $(this).next().remove();
    });
    //活动数据中的日期处理
    $('#start_time,#end_time').each(function () {
        this.type = 'datetime-local';
    })
    //对文件上传处理
    $('#index_img_src,#activity_img_src,#big_img_src,#small_img_src,#expert_img').each(function () {
        this.type = 'file';
    });
    $('#expert_img').parents('.form-group').prevAll().remove();




</script>