{{extend ("./parent.html")}}

{{#block ("body")}}
  <div class="panel panel-default">
        <div class="panel-heading">
            <ol class="breadcrumb">
              <li><a href="#">数据修改</a></li>
            </ol>
          </div>
        <div class="panel-body">   
    <form action="/manager/edit/{{Info.id}}" method="post" class="form-horizontal">
    <div class="form-group">
      <label for="vtitle" class="col-sm-2 control-label">姓名</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" value="{{Info.name}}" id="name" placeholder="请输入姓名">
      </div>
    </div>
    <div class="form-group">
      <label for="vsortno" class="col-sm-2 control-label">年龄</label>
      <div class="col-sm-10">
        <input type="Number" class="form-control" name="age" value="{{Info.age}}" id="age" placeholder="请输入年龄">
      </div>
    </div>
    <div class="form-group">
      <label for="vvideoid" class="col-sm-2 control-label">性别</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="sex" value="{{Info.sex}}" id="sex" placeholder="请输入性别">
      </div>
    </div>
    <div class="form-group">
      <label for="vsummary" class="col-sm-2 control-label">电话</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="phone" value="{{Info.phone}}" id="phone" placeholder="请输入电话">
      </div>
    </div>
    <div class="form-group">
      <label for="vimg" class="col-sm-2 control-label">地址</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="address"  value="{{Info.address}}" id="address" placeholder="请输入地址">
      </div>
    </div>
     <div class="form-group">
      <label for="vremark" class="col-sm-2 control-label">简介</label>
      <div class="col-sm-10">
          <textarea style="width: 550px;height: 220px" name="introduction" placeholder="请输入简介">{{Info.description}}</textarea>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">保存</button>
      </div>
    </div>
  </form>
  </div> 
  </div>
{{/block}}
