{{extend ("./parent.html")}}

{{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li>导师团页专家数据列表</li>
        </ol>
    </div>
    <div class="panel-heading">
        <div class="input-group">
            <!--<span class="input-group-addon" id="basic-addon1">学生姓名</span>-->
            <!--<input type="text" class="form-control" id="Name" placeholder="请输入学生姓名进行查询" aria-describedby="basic-addon1" style="width:200px;margin-right:10px;" value="{{keyword}}">-->
            <!--<input type="button" class="btn btn-success" onclick='search()' value="查找" style="margin-right:10px;">-->
            {{#each(list)}}
            <input type="button" class="btn btn-success" value="新增" onclick="window.location='/manager/add?expert&{{this.query}}'">
            {{/each}}
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>专家数据代码</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each(list)}}
            <tr>
                <td>
                    <textarea name="" id="" cols="80" rows="10" disabled>
                        {{this.html}}
                    </textarea>
                </td>
                <td>
                    <a href="/manager/edit/{{this.dataName}}?dataName={{this.dataName}}&id={{this.id}}" class ="btn btn-success" >编辑</a> |

                    <input type="button" class ="btn btn-danger" onclick="del('{{this.id}}','experts_news2','status')" value="删除">
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $('.input-group input').each(function (i,v) {

        if (i!==0) {
            $(this).remove()
        }
    });

    function del(id,dataName,status) {
        if (!confirm("确定要删除该条数据吗?")) {
            return;
        }
        var url = 'http://'+location.host+'/manager/delete?dataName='+dataName+'&id='+id+'&status='+status;
        $.getJSON(url,null,function(jsObj){
            if (jsObj.status==0) {//失败
                alert(jsObj.message)
            }else{ //成功
                //alert(jsObj.message)
                window.location = window.location
            }
        })
    }
</script>
{{/block}}
