{{extend ("./parent.html")}}

{{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li>导师图片上传</li>
        </ol>
    </div>
    <div class="panel-heading">
        <div class="input-group">
           {{#each(list)}}
            <input type="button" class="btn btn-success" value="新增" onclick="window.location='/manager/add?expert_img&{{this.query}}'">
            {{/each}}
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>图片名字</th>
            </tr>
            </thead>
            <tbody>
            {{#each(list)}}
            <tr>
                <td>
                    <textarea name="" id="" cols="80" rows="1" disabled>
                        {{this.html}}
                    </textarea>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $('.input-group input').each(function (i,v) {

        if (i!==0) {
            $(this).remove()
        }
    });

    function del(id,dataName,status) {
        if (!confirm("确定要删除该条数据吗?")) {
            return;
        }
        var url = 'http://'+location.host+'/manager/delete?dataName='+dataName+'&id='+id+'&status='+status;
        $.getJSON(url,null,function(jsObj){
            if (jsObj.status==0) {//失败
                alert(jsObj.message)
            }else{ //成功
                //alert(jsObj.message)
                window.location = window.location
            }
        })
    }
</script>
{{/block}}
