{{extend ("./parent.html")}}

{{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="#">数据修改</a></li>
        </ol>
    </div>
    <div class="panel-body">
        <form action="/manager/add/{{Info.dataName}}" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label for="vtitle" class="col-sm-2 control-label">id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="id" value="{{Info.id}}" id="id" readonly='true'>
                </div>
            </div>
            <div class="form-group">
                <label for="vsortno" class="col-sm-2 control-label">轮播图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="index_img_src" value="{{Info.index_img_src}}" id="index_img_src" placeholder="请输入年龄">
                </div>
            </div>
            <div class="form-group">
                <label for="vvideoid" class="col-sm-2 control-label">轮播图片跳转地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="index_img_target" value="{{Info.index_img_target}}" id="index_img_target" placeholder="请输入性别">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{/block}}
