{{extend ("./parent.html")}}

{{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="#">数据修改</a></li>
        </ol>
    </div>
    <div class="panel-body">
        <form action="/manager/add/{{Info.dataName}}" method="post" class="form-horizontal">

            <div class="form-group">
                <label for="vsortno" class="col-sm-2 control-label">首页专家数据代码</label>
                <div class="col-sm-10">
                    <textarea name="index_expert_html" id="expert_html" cols="30" rows="10" class='form-control'>
                        {{Info.html}}
                    </textarea>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{/block}}
