<!-- 父页面中包含头部 左边的内容 还有右边的占位符 -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.10/jquery.uploadfile.min.js"></script>
    <!--<link rel="stylesheet" href="/css/site.css">-->
</head>
<style>
    .panel-heading {
        text-align: center;
        font-size: 25px;
    }
    .breadcrumb {
        padding:0;
    }
    .panel-heading li {
        color: #7995ff;
        font-weight:900;
    }
    img {
        height: 100px;
    }
    .click {
        background-color: #dff0d8;
    }
    table {
        width: 695.5px!important;
        overflow: hidden;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">欢迎进入智矿后台管理</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                            <p class="navbar-text navbar-right">欢迎【{{loginedname}}】登录&nbsp;<a href="javascript:logout()" class="navbar-link">退出</a></p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="javascript:void();" class="list-group-item active disabled">后台数据</a>
                    <a href="/manager/index_lunbo" class="list-group-item">首页轮播数据</a>
                    <a href="/manager/activity_lunbo" class="list-group-item">活动轮播数据</a>
                    <a href="/manager/activity" class="list-group-item">活动数据</a>
                    <a href="/manager/news" class="list-group-item">新闻数据</a>
                    <a href="/manager/expert" class="list-group-item">导师团页数据</a>
                    <a href="/manager/index_expert" class="list-group-item">首页导师数据</a>
                    <a href="/manager/expert_img" class="list-group-item">导师图片</a>
                </div>
            </div>
            <div class="col-md-9">

                 {{{block ("body")}}}

            </div>
        </div>
    </div>
    <script type="text/javascript">
            function logout(){
                if (confirm("确认退出?")) {
                    window.location.href = '/account/logout';
                }
            }
    </script>
</body>

</html>
<script>
    //    $('.col-md-3 .list-group a').on('click', function () {
    //        $(this).addClass('active').siblings().removeClass('active')
    //    });


    var href = window.location.href;
    var host = window.location.host;
    var str = host+'/manager/index_lunbo,manager/activity_lunbo,manager/activity,manager/news,manager/expert,manager/index_expert,manager/expert_img';
    str=str.replace(/,/g,','+host+'/')
    var index = 0;
    str.split(',').forEach(function (v,i) {
        console.log(href,v);
        if (href.split('//')[1]==v) {
            index = i;
        }
    });
    $('.col-md-3 .list-group a').eq(index+1).addClass('click').siblings().removeClass('click');
    
</script>
